<div class="row justify-content-md-center px-2">
  <div class="column col-md-10 col-md-offset-2">
    This is a long oneThis is a long oneThis is a long oneThis is a long oneThis
    is a long oneThis is a long oneThis is a long oneThis is a long oneThis is a
    long oneThis is a long oneThis is a long oneThis is a long oneThis is a long
    oneThis is a long oneThis is a long oneThis is a long oneThis is a long
    oneThis is a long oneThis is a long oneThis is a long one
  </div>
</div>
